@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700,400);

html body {
	font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	margin: 0;
}

.h3 {
	font-size: 1.5rem;
}

.h5 {
	font-size: 1rem;
}

.box {
	h1 {
		letter-spacing: -2px;
	}
	.h5-style {
		letter-spacing: -1px;
	}
}

.client-id {
	font-weight: 700;
}

.btn {
	font-weight: 300;
	text-transform: uppercase;
}

.footer-menu {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.dashboard-container {	
	.switch {
		color: $black;
		font-weight: 100;
		text-transform: uppercase;
	}
}