.dashboard-container {
	background-color: $background;

	main {
		padding-top: 2em;
		.chart {
			margin-top: 2em;
		}
		.products-container {
			margin: 1em 0 3em;
			.row {
				.columns:nth-of-type(odd) {
					padding-right: .5em;
				}
				.columns:nth-of-type(even) {
					padding-left: .5em;
				}
			}
		}
		.history-container {
			margin: 1em 0 3em;
		}
	}
}
