.login-bg {
	background-image: url('../pics/efi3_bg.jpg');
	min-height: 100vh;
	padding-top: 5vh;

	.login-form {
		border: 1px solid lighten($main, 20%);
		border-radius: 5px;
		margin: 15vh 3em 0;
		padding: 5em 0 3em;
		position: relative;
	}
}

.keyboard-icon {
	margin-top: .8rem;
}