.avatar {
	height: 100px;
	width: 100px;
	float: left;
	margin: 0 2em 0 .2em;
	img {
		border-radius: 5px;
	}
}

.login-container .avatar {
	left: 50%;
	margin-left: -50px;
	position: absolute;
	top: -50px;
	border-radius: 50%;
	background-color: $white;
}
 