.login-container {
	.close-btn {
		background-color: lighten($main, 20%);
		border-radius: 50%;
		height: 15px;
		line-height: 15px;
		margin-left: .5em;
		width: 15px;
	}

	.btn-main {
		background-color: $white;
		border-radius: 5px;
		color: $black;
		margin: 1em;
		padding: .3em 2em;
	}

	.btn-secondary {
		border-radius: 5px;
		padding: .3em .5em;
	}

	.btn:hover {
		box-shadow: 0 0 10px darken($main, 10%);
	}

	.btn-secondary:hover {
		background-color: darken($main, 5%);
		color: $white;
		box-shadow: none;
	}
}

.keyboard-icon:hover {
	cursor: pointer;
}

.new-messages {
	margin-right: 2em;	
}

.options {
	transition: 1s ease-out;
	&:hover {
		animation: spin 3s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


main {
	.btn-main {
		background-color: $main;
		color: $white;		
	}
	.btn-secondary {
		background-color: darken($background, 20%);
		color: $white;
	}
	.btn {
		border-radius: 3px;
		margin: 0 0 0 1em;
		padding: .6em 1.2em;
		&:hover {
			box-shadow: none;
			background-color: $white;
			color: $black;
		}
	}
	.products-button {
		background-color: #fff;
		border-radius: 5px;
		margin: .5em 0;
		padding: 1em;
		img {
			display: inline-block;
		}
		div {
			display: inline-block;
			margin-left: .5em;
			vertical-align: middle;
		}
		&:hover {
			background-color: $main;
			color: $white;
		}
	}
}

.searchbar {
	.btn {
		background-color: darken($background, 20%);
		border-radius: 3px;
		margin: 0 0 0 1em;
		padding: .6em 1.2em;
	}
}

.budgets-container {
	.btn {
		margin: 0;
	}
}