.diagrams {
	padding-top: 2em;
	.diagram {
		width: 20vw;
		height: 20vw;
		box-sizing: border-box;
		border: 40px solid $main;
		border-radius: 50%;
		background-color: $background;
		margin: 2em 0;
		text-align: center;
	}
	.small-4:nth-of-type(3n+1)>.diagram {
		margin-left: 0;
		margin-right: auto;
	}
	.small-4:nth-of-type(3n+2)>.diagram {
		margin-left: auto;
		margin-right: auto;
	}
	.small-4:nth-of-type(3n+3)>.diagram {
		margin-right: 0;
		margin-left: auto;
	}
	.diagram-details {
		display: none;
	}
	.diagram-close {
		display: none;
	}
}

.diagram.active-diagram {
	border-width: 20px;
	position: relative;
	.diagram-options {
		display: block;
	}
	.diagram-close {
		display: block;
		position: absolute;
		right: -40px;
		&:hover {
			cursor: pointer;
		}
	}
	.diagram-details {
		display: block;
	}
}