.input {
	border: none;
	border-radius: 3px;
}

#validation-alert {
	background-color: $warning;
	border-radius: 3px;
	height: 24px;
	margin: 0;
	position: relative;
	z-index: 1;
	transition: 1s ease-in;
}

#validation-alert:before {
	content: "";
	background-color: $warning;
	display: block;
	height: 15px;
	width: 15px;
	transform: rotate(45deg);
	position: absolute;
	top: -3px;
	left: 10px;
	z-index: -1;
}