header {
	background-color: $main;
	.header-container {
		margin: 0 5vw;
	}
	.header-elements {
		padding: 1.5em 0;
	}
	.search, .logout {
		display: inline-block;
	}
	.logout {
		padding-left: 1em;
	}
}