.history-list {
	background-color: $white;
	border-radius: 5px;
	height: 18rem;
	margin-top: .5em;
	overflow-y: scroll;
	.history-item {
		border-bottom: 1px solid lighten($shadow, 35%);
		padding: 1em;
	}
}