nav {
	li {
		text-align: center;
		width: 20%;
		a {
			text-transform: uppercase;
			color: $white;
			padding: 1.7em 0;
			position: relative;
			&:hover {
				background-color: $black;
				color: $white;
				&::after {
					content: "";
					display: block;
					background-color: $black;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					position: absolute;
					bottom: -10px;
					left: 50%;
					margin-left: -10px;
				}
			}
			.menu-item {
				display: block;
				padding: 3em 0 2em;
				width: 100%;
				&::before {
					content: "";
					display: block;
					position: relative;
					width: 30px;
					height: 30px;
					top: -1.8em;
					margin: auto;
					background-image: url("../pics/magnifying-glass.png");

				}
			}
		}
	} 
}

