.search {
	img {
		border-right: 1px solid lighten($main, 10%);
		padding: 1em;
	}
}

.searchbar {
	background-color: $main;
	color: $white;
	display: none;
	padding: 1.4em 0;

	input[type="search"]{
		background-color: transparent;
		border-bottom: 1px solid $white;
		border-radius: 0;
		box-shadow: none;
		display: inline-block;
		height: auto;
		margin: 0;
		padding: .3em;
	}
	input[type="submit"]{
		margin: 0;
	}
}