.switch {
	display: inline-block;
	margin-left: 1em;
	vertical-align: middle;

	.switch-paddle {
		z-index: 0;
		&::after {
			z-index: -1;
		}
		.switch-active {
			display: block;
		}
	}

	input:checked ~ .switch-paddle {
		background-color: $white;
	}

	input:checked+label>.switch-inactive {
		display: block;
	}
}

